.parallax-container {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  .parallax {
    min-height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }
  
  .gengar-bg {
    /* background-image: url('/images/pokemonBackground.jpg'); */
    background-image: url('/images/pokemonBackgroundSpare.webp');
  }
  
  .purple-bg {
    background-image: url('/images/pokemonBackground.jpg');
    /* background-image: url('/images/pokemonBackgroundSpare.webp'); */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .content {
    text-align: center;
    color: white;
    margin-bottom: 40px;
    /* padding: 40px; */
    /* backdrop-filter: blur(4px); */
  }
  